################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/rvn1/v17
/x64/Debug/rvn1.tlog
/x64/Debug
/x64/Release/rvn1.tlog
/x64/Release
